.footer {
  &-desktop {
    display: none;
    &--container {
      padding: 60px 80px;
      border-top: 0.5px solid rgba(0, 0, 0, 0.2);
    }
    &--list {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
    }
    &--logo {
      width: 67.84px;
      height: 18px;
      margin-bottom: 29px;
    }
    &--copyright-line {
      margin-bottom: 24px;
      p {
        font-weight: 300;
      }
    }

    &--column-title {
      font-size: 1rem;
      font-weight: 700;
      line-height: 1rem;
      color: $text-color;
      margin-bottom: 20px;
      text-transform: capitalize;
    }

    &--column-link {
      font-size: 1rem;
      font-weight: 300;
      line-height: 1rem;
      color: $text-color;
      text-transform: capitalize;
      display: block;
      margin-bottom: 22px;
    }

    &--icon {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      background-color: $light-green;
      transition: 0.1s ease-in;
      margin: 8px;
    }
    &--social-link {
      padding: 0 16px;
      padding-top: 20px;
      display: flex;
      flex-direction: column;
      flex: 1 1;
      align-items: center;
      justify-content: center;
    }
  }

  @include tablet {
    display: block;
    width: 100%;
    padding: 0 0 60px;
    &-desktop {
      display: block;
      &--container {
        width: 100%;
      }
      &--logo {
        width: 67.83px;
        height: 18px;
        margin-bottom: 29.2px;
      }
      &--copyright {
        padding-right: 16px;
        max-width: 180px;
      }
      &--column {
        padding: 0 16px;
        max-width: 180px;
        &-copyright {
          padding: 0;
        }
      }

      &--column-title {
        margin-bottom: 31.2px;
      }

      // &--column-second {
      //   transform: translate(1px, 1px);
      // }
    }
  }
  @media (min-width: 1600px) {
    &-desktop {
      &--list {
        display: flex;
        justify-content: center;
        // align-items: center;
        gap: 0 55px;
      }
      &--column-icon {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
      }
      &--column-link {
        margin-bottom: 24px;
      }
    }
  }
}
