.header {
  z-index: 100;
  width: 100%;
  display: flex;
  position: fixed;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80px;

  &-fixed {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 80px;
    overflow: hidden;
    box-sizing: border-box;
    background-color: $white;
  }
  &-container {
    // padding: 0 18.5px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px;
  }
  &-logo {
    height: 23px;
    width: 82.93px;
    margin-left: 2px;
    margin-bottom: 4px;
  }
  // &-logo {
  //   height: 21px;
  //   width: 79.14px;
  // }

  &-nav,
  &-download {
    display: none;
  }

  // &-nav {
  //   display: flex;
  //   justify-content: center;
  //   flex-direction: row;
  //   align-items: center;
  //   flex-grow: 1;
  // }

  &-link {
    margin: 0 20px;
    font-size: 1.125rem;
    color: $text-items-color;
    line-height: 1;
    font-weight: 500;
    text-transform: capitalize;
    transition: 0.2s ease-in-out;
    &:hover {
      transform: translateY(-1px) scale3d(1.03, 1.03, 1.03);
      color: $text-color;
    }
  }
}
