.header {
  z-index: 100;
  width: 100%;
  display: flex;
  position: fixed;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80px;

  &-fixed {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 80px;
    overflow: hidden;
    box-sizing: border-box;
    background-color: $white;
  }
  &-container {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px;
  }
  &-logo {
    height: 22px;
    width: 82.93px;
    // margin-left: 0px;
    margin-bottom: 4px;
  }
  // &-logo {
  //   height: 21px;
  //   width: 79.14px;
  // }

  &-nav,
  &-download {
    display: none;
  }

  &-link {
    margin: 0 20px;
    font-size: 1.125rem;
    color: $text-items-color;
    line-height: 1;
    font-weight: 500;
    text-transform: capitalize;
    transition: 0.2s ease-in-out;
    &:hover {
      transform: translateY(-1px) scale3d(1.03, 1.03, 1.03);
      color: $text-color;
    }
  }

  @media (min-width: 800px) {
    &-container {
      margin: 0 20px;
    }
    &-menu--button {
      display: none !important;
    }
    &-nav,
    &-download {
      display: flex;
    }
    &-nav {
      margin-top: 2px;
      margin-left: 40px;
      gap: 2px 9px;
    }
  }
  @media (min-width: 1280px) {
    &-container {
      margin: 0 65px;
    }
  }
  @media (min-width: 1920px) {
    &-container {
      margin: 0 20px;
    }
  }
}
