// .menu-btn {
//   position: relative;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 32px;
//   height: 32px;

//   &--hamburger {
//     width: 20px;
//     height: 2px;
//     background-color: $black;
//   }

//   &--hamburger::before,
//   &--hamburger::after {
//     content: "";
//     position: absolute;
//     width: 20px;
//     height: 2px;
//     background-color: $black;
//     transition: all 0.2s ease-in-out;
//   }

//   &--hamburger::before {
//     transform: translateY(-5px);
//   }

//   &--hamburger::after {
//     transform: translateY(5px);
//   }
// }

.header {
  &-menu--button {
    position: relative;
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    align-content: center;
    shape-rendering: crispEdges;
    transition: background-color 0.2s ease;
    background-color: #eef0f2;
  }
  &-hamburger {
    cursor: pointer;
    transform: translate(-9px, -1px);
    span {
      cursor: pointer;
      border-radius: 1px;
      height: 2px;
      width: 18px;
      background: #333;
      position: absolute;
      display: inline-block;
      content: "";
      transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      &::before {
        top: -5px;
        left: 0;
        cursor: pointer;
        border-radius: 1px;
        height: 2px;
        width: 18px;
        background: #333;
        position: absolute;
        display: inline-block;
        content: "";
      }
      &::after {
        bottom: -5px;
        left: 0;
        cursor: pointer;
        border-radius: 1px;
        height: 2px;
        width: 18px;
        background: #333;
        position: absolute;
        display: inline-block;
        content: "";
      }
    }
  }
}
