.train {
  display: block;
  padding-top: 60px;
  &-container {
    max-width: 375px;
    margin: 0 auto;
    text-align: center;
  }
  &-title {
    margin-bottom: 32px;
    font-weight: 900;
  }
  &-download {
    display: flex;
    justify-content: space-around;
    &--button {
      width: 148px;
      height: 42px;
    }
  }
  @media (min-width: 360px) {
    &-title {
      max-width: 300px;
      margin: 0 auto;
      margin-bottom: 32px;
    }
  }
}
